@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
  /* font-size: 10pt; */
  font-size: 1em;
	color: black;
	line-height: 1.5;
}
body {
	background-color: white;
	margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
  /* font-size: 10pt; */
  font-size: 1em;
	color: black;
}
a {
	color: cyan;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
  outline: 3px solid silver;
}
a img{
	border: none 0px #fff;
}

select:focus {
  border-color: yellow;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

table:focus, li:focus, address:focus, h2:focus, h3:focus {
  outline: 3px solid silver;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer {
  background-color: black;
  color: white;
  /* font-size: 8pt; */
  font-size: 1em;
  letter-spacing: 1px;
  padding: 25px 0px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: black;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: white;
  /* font-size: 14pt; */
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: black;
    color: white;
    /* font-size: 17px; */
    font-size: 1em;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    color: white;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: cyan;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: yellow;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  /*height: 400px;*/
  width: 100%;
  min-height: 300px;
  background-color: black;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0px 0px 10px;
}
.filter-options select {
  background-color: white;
  border: 5px solid white;
  font-family: Arial,sans-serif;
  /*font-size: 11pt;*/
  font-size: 1em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

.filter-options select:focus {
  border-color: navy;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  z-index: 100;
  background: black;
}

.skip-link:focus {
  top: 0;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: black;
  list-style: outside none none;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
#restaurants-list li {
  background-color: black;
  border: 2px solid black;
  font-family: Arial,sans-serif;
  margin: 10px 0px;
  padding: 5px;
  text-align: left;
  max-width: 100%;
}
#restaurants-list .restaurant-img {
  background-color: black;
  margin: 0;
  max-width: 100%;
  object-fit: contain;
}
#restaurants-list li h2 {
  color: white;
  font-family: Arial,sans-serif;
  /*font-size: 14pt;*/
  font-size: 1.5em;
  font-weight: 200;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  /* font-size: 11pt;*/
  font-size: 1em;
  color: white;
}
#restaurants-list li a {
  background-color: navy;
  border: 3px solid navy;
  color: white;
  display: inline-block;
  /*font-size: 10pt;*/
  font-size: 1em;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  width: 100%;
}
.inside #map {
  background-color: white;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  width: 100%;
}
#restaurant-name {
  color: black;
  font-family: Arial,sans-serif;
  /*font-size: 20pt;*/
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 5px 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	width: 100%;
}
#restaurant-address {
  /*font-size: 12pt;*/
  font-size: 1em;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: black;
  color: white;
  /*font-size: 12pt;*/
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

#restaurant-identity {
  display: flex;
  flex-direction: column;
}

#restaurant-dl {
  margin-left: 0;
}

#reviews-container {
  background-color: black;
}

#reviews-container h3 {
  color: white;
  /*font-size: 24pt;*/
  font-size: 1.5em;
  font-weight: 300;
  /*letter-spacing: -1px;*/
  padding-bottom: 1pt;
  margin: 15px;
  /*text-transform: uppercase;*/
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#reviews-list li {
  background-color: white;
  border: 2px solid black;
  list-style-type: none;
  margin: 15px auto;
  width: 95%;
  padding: 3px;
}
#reviews-list li p {
  margin: 15px auto;
}
#restaurant-hours td {
  color: black;
}

/* ====================== Service Worker Related ====================== */
.update-alert {
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  font-weight: bold;
  padding: 2px;
}

@media screen and (min-width: 800px)
{
	body {
		
		max-width:	800px;
		margin-right:	auto;
		margin-left:	auto;
  }

  #restaurant-identity {
    flex-direction: row;
    justify-content: space-between;
  }

  #restaurant-dl {
    margin-left: 10px;
  } 
}

@media screen and (min-width: 450px)
{
  .filter-options {
    flex-direction: row;
  }  
  #restaurants-list {
    flex-direction: row;
  }
  #restaurants-list li {
    max-width: 40%;
  }
  #reviews-list {
    flex-direction: row;
  }
}